@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubiq/Rubik-Regular.ttf") format("truetype");
}

@media (max-width: 500px) {
  .heading_06 {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .form-group-password {
    margin-bottom: -14px !important;
  }

  .heading_06-mobile {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .text-center-first {
    display: none;
  }
  .gappingClass {
    gap: 20px;
  }
  .paraclass {
    margin-top: -10px;
  }
}

.paraClassCustom {
  font-size: 14px;
  line-height: 20px;
}

span {
  font-family: "Rubik";
}
@media (max-width: 768px) {
  .settingwidthGreen {
    width: 50px !important;
  }
  .settingwidthGreen::before {
    border: 1px solid black;
  }
  .gappingClass {
    gap: 5px;
  }
  .paraclass {
    margin-top: -10px;
    font-size: 12px;
    margin-bottom: 15px !important;
  }
  /* important to notice */
  .heading_04 {
    font-size: 19px !important;
  }
  .heading_02 {
    font-size: 19px !important;
  }
}

@media (max-width: 827px) {
  .heading_06 {
    line-height: 21px !important;
  }
}
.error-div {
  height: 7px;
}
.error-div-password {
  /* height: 15px; */
}

/* important to notice */
span {
  font-family: "Rubik", sans-serif;
}

/* important to notice */
button {
  font-family: "Rubik", sans-serif;
}

/* important to notice */
label {
  font-family: "Rubik", sans-serif;
}

/* important to notice */
p {
  font-family: "Rubik", sans-serif;
}

/* important to notice */
p.first-col-para {
  font-family: "Rubik", sans-serif;
}

/* important to notice */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

p.first-col-para {
  line-height: 20px;
}

/* important to notice */
body {
  font-family: "Rubic", sans-serif;
}

@media (max-width: 450px) {
  .heading {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .heading {
    font-size: 13px;
  }
}

.btn-customm {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #23dc32;
  text-decoration: underline;
  padding: 0px;
  font-weight: 600;
}

.btn-customm:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #23dc32;
  text-decoration: underline;
}

/* Apply the rotation animation to the loader image */
#loader img {
  animation: rotate 4s linear infinite; /* Rotate continuously for 1 second */
}

.custom-registration-form {
  margin-top: 30px;
}

#secondClass {
  color: #23dc32;
}

input[type="checkbox"]:checked {
  background-color: #23dc32 !important;
  border-color: #23dc32 !important;
  color: white;
}

input[type="checkbox"] {
  border-color: #23dc32 !important;
}

.form-check-input {
  accent-color: #f2f8fc;
  background-color: #f2f8fc !important;
  width: 17px;
  /* Adjust the width as needed */
  height: 17px;
  /* Adjust the height as needed */
  margin-right: 30px;
  /* Adjust the spacing as needed */
}

/* important to notice */
label {
  font-size: 14px;
  color: #000000d6;
}

.hr-div {
  width: 165px;
}

hr {
  transform: rotate(90deg);
  z-index: 0;
  position: relative;
  right: 62px;
  bottom: 172px;

  height: 2px;

  border: none;
  border-top: 1px dotted #d9d9d9;
}

@media (max-width: 1207px) and (min-width: 1115px) {
  .hr-div {
    width: 248px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 103px;
    bottom: 168px;

    height: 2px;

    border: none;
    border-top: 1px dotted #00000057;
  }
}

@media (max-width: 1114px) and (min-width: 1105px) {
  .hr-div {
    width: 248px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 103px;
    bottom: 168px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 1104px) and (min-width: 1062px) {
  .hr-div {
    width: 228px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 93px;
    bottom: 175px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 1163px) and (min-width: 984px) {
  .hr-div {
    width: 228px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 93px;
    bottom: 198px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 985px) and (min-width: 900px) {
  .hr-div {
    width: 228px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 93px;
    bottom: 220px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 500px) {
  .spacing-btn {
    margin-top: 10px !important;
  }
}

@media (max-width: 899px) and (min-width: 890px) {
  .hr-div {
    width: 228px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 93px;
    bottom: 220px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 891px) and (min-width: 795px) {
  .hr-div {
    width: 248px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 103px;
    bottom: 250px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 796px) and (min-width: 768px) {
  .hr-div {
    width: 268px;
  }

  hr {
    transform: rotate(90deg);
    z-index: 0;
    position: relative;
    right: 113px;
    bottom: 268px;

    height: 2px;

    border: none;
    border-top: 1px dotted #d9d9d9;
  }
}

@media (max-width: 900px) {
  .hr-div {
    display: none;
  }

  hr {
    display: none;
  }
}

@media (min-width: 768px) {
  .first-column {
    /* height: 669px; */
  }
}

@media (max-width: 768px) {
  .uper_margin_mobile {
    margin-top: 10px !important;
  }
  .first-col-para {
    /* font-size: 13px; */
    display: none;
  }
  .green-div {
    gap: 3px;
  }
}
.alpha {
  position: relative;
  bottom: 35px;
  border: none;
  background-color: #ff000000 !important;
}

/* important to notice */

.heading_02 {
  font-weight: 500 !important;
  margin: 0px !important;
}

/* important to notice */

.heading_04 {
  font-weight: 500 !important;
}

.columns-class {
  background-color: white;
  border-radius: 5px;
  /* min-height: 75vh; */
}

.form-control {
  border: none !important;
  background-color: #eff2f5;
}

.form-control::placeholder {
  font-weight: 500;
}

.btn-custom {
  background-color: #23dc32 !important;
  border: none !important;
  color: white !important;
  font-size: 14px !important;
}

.btn-custom:hover {
  background-color: #23dc32;
  border: none;
  color: white;
}

.btn-custom:active {
  background-color: #23dc32;
  border: none;
  color: white;
}
.required-asterisk {
  color: red;
}

.btn-custom:focus {
  background-color: #23dc32;
  border: none;
  color: white;
}

.btn-custom-previous {
  background-color: #eff2f5 !important;
  border: none !important;
  color: rgb(0, 0, 0) !important;
  font-size: 14px !important;
}

.btn-custom-previous:hover {
  background-color: #eff2f5;
  border: none;
  color: rgb(0, 0, 0);
}

.btn--previous:active {
  background-color: #eff2f5;
  border: none;
  color: rgb(0, 0, 0);
}

.btn-custom-previous:focus {
  background-color: #eff2f5;
  border: none;
  color: rgb(0, 0, 0);
}

.btn-custom-2 {
  background-color: #def1fd;
  border: none;
  color: #23dc32;
}
.form-group-custom {
  margin-bottom: 0px !important;
}

/* important to notice */
.heading_06 {
  margin: 0px;
  font-weight: 500 !important;
}

.choice {
  border: 1px dotted #ccc;
  border-radius: 11px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.choice:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #4caf50;
  color: #fff;
}

.progress {
  height: 5px !important;
}
