.columns-class-email {
  background-color: white;
  border-radius: 5px;
  height: 100%;
}

#resendEmail {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #23dc32;
  border: none !important ;
  font-weight: 500;
  text-decoration: underline;
  padding: 2px;
}

/* toaster csss  */

#toast-container > .toast-error {
  background-image: none !important;
  background-color: red !important;
}

.toast-message {
  line-height: 20px;
  font-family: "Rubik", sans-serif;
}

/* Add your custom styles for OTP input here */
.otp-container {
  text-align: center;
  margin-top: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-error {
  color: red;
  margin-top: 5px;
}

.otp-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #23dc32;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ///////////////////////////////////////////// */

.theOne {
  padding: 15px;
}

.theTwo {
  padding: 15px;
}

.theThree {
  padding: 15px;
}

/* small buttons style  */
.small-buttons-no {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #23dc32;
  border-color: #23dc32;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.small-buttons-no:hover {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #23dc32;
  border-color: #23dc32;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.small-buttons-yes {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: #23dc32;
  background-color: white;
  border-color: #23dc32;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  margin-top: 5px;
}
