:root {
  --main-background-color: white;
  --resend-button-background: rgba(0, 0, 0, 0);
  --resend-button-text-color: #1429ef;
  --toast-error-background: red;
  --otp-button-background: #1429ef;
  --otp-button-text-color: #fff;
  --small-buttons-no-background: #1429ef;
  --small-buttons-no-text-color: white;
  --small-buttons-yes-background: white;
  --small-buttons-yes-text-color: #1429ef;
}
/* 
.columns-class-email {
background-color: var(--main-background-color);
  border-radius: 5px;
  height: 100%;
} */

#resendEmail {
  background-color: var(--resend-button-background) !important;
  color: white;
  border: none !important;
  font-weight: 500;
  text-decoration: underline;
  padding: 2px;
}
/* 
#toast-container > .toast-error {
  background-image: none !important;
  background-color: var(--toast-error-background) !important;
} */

.otp-container {
  text-align: center;
  margin-top: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-error {
  color: red;
  margin-top: 5px;
}

.otp-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--otp-button-background);
  color: var(--otp-button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ///////////////////////////////////////////// */

.theOne {
  padding: 15px;
}

.theTwo {
  padding: 15px;
}

.theThree {
  padding: 15px;
}

/* small buttons style  */
.small-buttons-no {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: var(--small-buttons-no-text-color);
  background-color: var(--small-buttons-no-background);
  border-color: var(--small-buttons-no-background);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.small-buttons-no:hover {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: var(--small-buttons-no-text-color);
  background-color: var(--small-buttons-no-background);
  border-color: var(--small-buttons-no-background);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.small-buttons-yes {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  color: var(--small-buttons-yes-text-color);
  background-color: var(--small-buttons-yes-background);
  border-color: var(--small-buttons-yes-background);
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  margin-top: 5px;
}
