/* @media (min-width: 768px) {
  .main-container1 {
    height: 130dvh !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .main-container1 {
    height: 120dvh;
  }
}

@media (max-width: 480px) {
  .main-container1 {
    height: 120dvh;
  }
} */

/* ------------------------------------ */
/* 
@media (min-width: 768px) {
  .main-container {
    height: 100dvh !important;
  }
  .columns-class-email {
    background-color: white;
    border-radius: 5px;
    height: 90dvh;
    margin-top: 30px !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .main-container {
    height: 120dvh;
  }
  .columns-class-email {
    background-color: white;
    border-radius: 5px;
    height: 100dvh;
    margin-top: 50px !important;
  }
}

@media (max-width: 480px) {
  .main-container {
    height: 120dvh;
  }
  .columns-class-email {
    background-color: white;
    border-radius: 5px;
    height: 100dvh;
    margin-top: 50px !important;
  }
} */

.columns-class-email {
  background-color: white;
  border-radius: 5px;
}

#resendEmail {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #23dc32;
  border: none !important ;
  font-weight: 500;
  text-decoration: underline;
  padding: 2px;
}

/* toaster csss  */

#toast-container > .toast-error {
  background-image: none !important;
  background-color: red !important;
}

/* eroor messages below div css  */
/* 
#name-error-message {
  color: red;
  font-size: 14px;
  height: 10px;
  margin-top: 5px;
} */

/* otp styling  */

/* Add your custom styles for OTP input here */
.otp-container {
  text-align: center;
  margin-top: 20px;
}

.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-error {
  color: red;
  margin-top: 5px;
}

.otp-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #32dc23;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
